<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>Login - Node JS and Express</title>
  </head>
  <body>

    <section class="nav">
      <nav>
        <ul>
          <li><a href="/">Homepage</a></li>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </nav>
    </section>

    <section class="container">
      <h1>Login to Consults portals</h1>
      <main>
        <a class="google-btn" href="/auth/google">Login with Google Acount</a>
      </main>
    </section>

  </body>
</html>
