<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>Login - Node JS and Express</title>
    <style>
    .nav .profile-nav .title  {
      font-size: 14px;
      display: inline-block;
      vertical-align: bottom;
      float: right;
    }
    .nav .profile-nav img {
      width: 100%;
      max-width: 65px;
      float: right;
    }
    </style>
  </head>
  <body>

    <section class="nav">
      <nav>
        <div class="nav-wrapper">
          <% if (user) { %>
            <a href="/profile" class="profile-nav right">
              <div class="title">Heloo <%= user.name %></div>
              <img width="45" src="<%= user.image %>">
            </a>
          <% } %>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Homepage</a></li>
            <% if (user) { %>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
            <li class="active"><a href="/auth/login">Login</a></li>
            <% } %>
          </ul>
        </nav>
        </div>
    </section>

    <section class="container">
      <h1>Login to Consults portals</h1>
      <main>
        <a class="google-btn" href="/auth/google">Login with Google Acount</a>
      </main>
    </section>

  </body>
</html>
